# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
import json
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
song_files = get_files('data/song_data')

In [5]:
filepaths = song_files

In [6]:
data = []
for filepath in filepaths:
    with open(filepath, 'r') as f:
        data.append(json.load(f))
df = pd.DataFrame(data) 
df.head()
# with open(filepath, 'r') as f:
#     data = json.load(f)
# df = pd.DataFrame([data]) 
# df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARGSAFR1269FB35070,NaN,,NaN,Blingtones,29.54404,1,SOTCKKY12AB018A141,Sonnerie lalaleulé hi houuu,0
1,AR7SMBG1187B9B9066,NaN,,NaN,Los Manolos,218.38322,1,SOBCOSW12A8C13D398,Rumba De Barcelona,0
2,ARBEBBY1187B9B43DB,NaN,"Gainesville, FL",NaN,Tom Petty,236.17261,1,SOFFKZS12AB017F194,A Higher Place (Album Version),1994
3,ARGCY1Y1187B9A4FA5,36.16778,"Nashville, TN.",-86.77836,Gloriana,153.33832,1,SOQOTLQ12AB01868D0,Clementina Santafè,0
4,ARAGB2O1187FB3A161,NaN,,NaN,Pucho & His Latin Soul Brothers,338.23302,1,SOLEYHO12AB0188A85,Got My Mojo Workin,0

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [7]:
song_data = df[['song_id','title', 'artist_id', 'year', 'duration']]
song_data = song_data.values[0]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [8]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [9]:
df = df[['artist_id','artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']]
artist_data = df.values[0]
print(artist_data)

['ARGSAFR1269FB35070' 'Blingtones' '' nan nan]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [10]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [11]:
log_files = get_files('data/log_data')

In [12]:
filepath = log_files[0]
print(filepath)

/home/ammad/Udacity/P1/project_template/data/log_data/2018/11/2018-11-09-events.json

In [13]:
with open(filepath, 'r') as f:
    df = pd.read_json(f, lines=True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Muse,Logged In,Harper,M,1,Barrett,209.50159,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540685e+12,275,Supermassive Black Hole (Twilight Soundtrack V...,200,1541721977796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",42
1,Beastie Boys,Logged In,Harper,M,2,Barrett,161.56689,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540685e+12,275,Lighten Up,200,1541722186796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",42
2,Shakira,Logged In,Harper,M,3,Barrett,145.84118,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540685e+12,275,Pienso En Ti,200,1541722347796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",42
3,Selena,Logged In,Harper,M,4,Barrett,172.66893,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540685e+12,275,Amor Prohibido,200,1541722492796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",42
4,Kid Cudi Vs Crookers,Logged In,Harper,M,5,Barrett,162.97751,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540685e+12,275,Day 'N' Nite,200,1541722664796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",42

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [14]:
df_ns = df[df['page'].str.contains("NextSong")]
df_ns.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Muse,Logged In,Harper,M,1,Barrett,209.50159,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540685e+12,275,Supermassive Black Hole (Twilight Soundtrack V...,200,1541721977796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",42
1,Beastie Boys,Logged In,Harper,M,2,Barrett,161.56689,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540685e+12,275,Lighten Up,200,1541722186796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",42
2,Shakira,Logged In,Harper,M,3,Barrett,145.84118,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540685e+12,275,Pienso En Ti,200,1541722347796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",42
3,Selena,Logged In,Harper,M,4,Barrett,172.66893,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540685e+12,275,Amor Prohibido,200,1541722492796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",42
4,Kid Cudi Vs Crookers,Logged In,Harper,M,5,Barrett,162.97751,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540685e+12,275,Day 'N' Nite,200,1541722664796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",42

In [15]:
t = pd.to_datetime(df_ns['ts'], unit='ms')
t.head()

0   2018-11-09 00:06:17.796
1   2018-11-09 00:09:46.796
2   2018-11-09 00:12:27.796
3   2018-11-09 00:14:52.796
4   2018-11-09 00:17:44.796
Name: ts, dtype: datetime64[ns]

In [16]:
time_hour= t.dt.hour
time_second = t.dt.second
time_data = list(zip(t, t.dt.hour, t.dt.day, t.dt.weekofyear, t.dt.month, t.dt.year ,t.dt.weekday))
#dtt = pd.DataFrame(time_data, columns=['Hour','Day'])
# print(time_data)
column_labels = ['timestamp','hour', 'day', 'weekofyear', 'month', 'year' , 'weekday']

In [17]:
time_df = pd.DataFrame(time_data, columns=column_labels)

time_df.head()

                timestamp  hour  day  weekofyear  month  year  weekday
0 2018-11-09 00:06:17.796     0    9          45     11  2018        4
1 2018-11-09 00:09:46.796     0    9          45     11  2018        4
2 2018-11-09 00:12:27.796     0    9          45     11  2018        4
3 2018-11-09 00:14:52.796     0    9          45     11  2018        4
4 2018-11-09 00:17:44.796     0    9          45     11  2018        4

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [18]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [19]:
user_df = df[['userId','firstName', 'lastName', 'gender', 'level']]
user_df.head()

  userId firstName lastName gender level
0     42    Harper  Barrett      M  paid
1     42    Harper  Barrett      M  paid
2     42    Harper  Barrett      M  paid
3     42    Harper  Barrett      M  paid
4     42    Harper  Barrett      M  paid

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [20]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [22]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    results = cur.execute(song_select, (row.song, row.artist, row.length))
    print( (row.song, row.artist, row.length))
    songid, artistid = results if results else None, None
    # insert songplay record
    songplay_data = (pd.to_datetime(row.ts, unit='ms'), row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

('Supermassive Black Hole (Twilight Soundtrack Version)', 'Muse', 209.50159)
('Lighten Up', 'Beastie Boys', 161.56689)
('Pienso En Ti', 'Shakira', 145.84118)
('Amor Prohibido', 'Selena', 172.66893)
("Day 'N' Nite", 'Kid Cudi Vs Crookers', 162.97751)
('Black Masks & Gasoline', 'Rise Against', 179.59138)
("I'm Like A Lawyer With The Way I'm Always Trying To Get You Off (Me & You)", 'Fall Out Boy', 211.69587)
('Staple It Together', 'Jack Johnson', 196.12689)
('Slow Jamz (Feat. Kanye West & Jamie Foxx) (Edited Album Version)', 'Twista feat. Kayne West & Jamie Foxx', 212.55791)
('Hey_ Soul Sister', 'Train', 216.76363)
('Rehab', 'Rihanna', 293.82485)
('Van Helsing Boombox', 'Man Man', 222.45832)
('The Stallion', 'Ween', 276.13995)
('Fireflies', 'Charttraxx Karaoke', 225.17506)
('I Want I Want', 'Digitalism', 208.24771)
('Railway', 'Dispatch', 247.50975)
('Clark Gable (Album)', 'Postal Service', 294.47791)
('Phaeton', 'Patricia Barber', 317.83138)
('Ucci Ucci feat. Nicki Minaj & The Chopper City Boyz', 'Enur', 203.4673)
('Choke', 'Hybrid', 379.61098)
('Stuck Between', 'Riverside', 236.2771)
('Smell Of Desire.', 'Enigma', 272.48281)
('Headlights Look Like Diamonds', 'Arcade Fire', 267.80689)
(None, None, nan)
('Out Go The Lights', 'Spoon', 274.36363)
('You & Me Song', 'The Wannadies', 170.86649)
('Girls (Album version)', 'Tricky', 261.43302)
('Wayfaring Stranger', 'Tony Rice', 321.98485)
('Sweep The Flo (Featuring Diamond)', 'Rasheeda', 212.40118)
('This Old House w/ When The Saints Medley', 'George Younce', 191.68608)
('Brain Leech', 'Alex Gopher', 221.6224)
('Didgeridoo', 'Aphex Twin', 430.18404)
('LÃ\x83Â\xa0 OÃ\x83Â¹ Je Pars', 'Emmanuel Moire', 277.08036)
("I Wouldn't Be A Man", 'Josh Turner', 212.16608)
('Soy AlbaÃ\x83Â±il', 'Carlos Y JosÃ\x83Â©', 166.45179)
('Ghost In The Mirror', 'Motionless in White', 217.57342)
('My Moon My Man', 'Feist', 184.94649)
(None, None, nan)
('We Will Become Silhouettes (Album)', 'Postal Service', 300.53832)
(None, None, nan)
('Life Without You', 'Stevie Ray Vaughan And Double Trouble', 258.82077)
('Miseria Cantare--The Beginning', 'AFI', 176.48281)
(None, None, nan)
(None, None, nan)
(None, None, nan)
('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'Lonnie Gordon', 181.21098)
('My Blue Heaven', 'Harry Connick_ Jr.', 197.09342)
('Crucificame', 'Andres Calamaro', 122.33098)
('Invalid', 'Tub Ring', 233.69098)
('I Can Dance', 'Brian Poole & The Tremeloes', 115.66975)
('The World Is A Ghetto', 'War', 244.03546)
(None, None, nan)
('Gone', "Kanye West / Consequence / Cam'Ron", 333.34812)
('Play', 'David Banner', 232.75057)
('Second awakening', 'Kreator', 287.9473)
('Protoculture (Sankofa)', 'Cipher', 311.2224)
('Emotion', 'Daft Punk', 416.522)
('Love Story', 'Taylor Swift', 233.89995)
('Message In A Bottle', 'The Police', 289.2273)
("You'd Rather Run", 'JayMay', 590.91546)
(None, None, nan)
('Happy Working Song', 'Amy Adams', 128.62649)
('Second Chance (Album Version)', 'Shinedown', 220.39465)
('Some Unholy War', 'Amy Winehouse', 141.24363)
('Ride Wit Me', 'T.I. & DJ Drama', 245.9424)
('Soliloquy Of Chaos (Explicit)', 'Gang Starr', 194.2722)
(None, None, nan)
("Who's Your Daddy? ", 'Benny Benassi', 207.49016)
('When It Rains (Album Version)', 'Paramore', 215.09179)
('Mama Said', 'Metallica', 319.73832)
('Forever Not Yours (Album Version  - NY Mix II)', 'A-Ha', 246.25587)
('Lovely Rita (feat. Bunny Rugs and U Roy)', 'Easy Star All-Stars', 244.81914)
('Down To My Last', 'Alter Bridge', 286.35383)
('Mudanca De Tempo', 'O Terco', 431.20281)
('Walking In The Air', 'Nightwish', 330.97098)
('Mayfield', 'Augustana', 196.70159)
('Ring My Bell', 'Anita Ward', 491.93751)
('I C Love Affair', 'Gaz Nevada', 390.21669)
('Slow Death', "Flamin' Groovies", 299.65016)
(None, None, nan)
(None, None, nan)
('Carry', 'isis', 406.12526)
(None, None, nan)
('Canada', 'Five Iron Frenzy', 236.09424)
('Pace E Guerra', 'Frankie HI-NRG MC', 104.09751)
('ReprÃ\x83Â©sente', 'Alliance Ethnik', 252.21179)
('Mercy:The Laundromat', 'Pavement', 99.16036)
('Clockwork Skinhead', '4 Skins', 165.51138)
('Wood And Wire', 'Thrice', 249.46893)
('Best Of Both Worlds (Remastered Album Version)', 'Van Halen', 289.38404)
('Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)', 'Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner', 277.15873)
('My Brother Is Watching Me', 'Hot Chip', 230.29506)
('Over You', 'Lasgo', 192.80934)
('She Loves You', 'Peter Sellers', 142.39302)
('Big In Japan (Original)', 'Alphaville', 285.43955)
('Mindjer dÃ\x83Â´ce mel', 'Eneida Marta', 223.55546)
('Flying Into a Star', 'Astral Projection', 585.42975)
('Marvin & Miles', 'Gare du Nord', 221.98812)
('Dog Days Are Over (Radio Edit)', 'Florence + The Machine', 219.66322)
('Seven Nation Army', 'The White Stripes', 232.61995)
('East Side Mags', 'Bouncing Souls', 66.01098)
('The Scientist', 'Coldplay', 311.27465)
('Revelry', 'Kings Of Leon', 201.79546)
('Backyard', 'Mad Caddies', 181.81179)
('The Way You Look Tonight (Live Version)', 'Phil Collins', 239.85587)
('The Mess I Made', 'Parachute', 230.5824)
(None, None, nan)
('My Apocalypse', 'Escape The Fate', 283.34975)
('Teenage Spaceman', 'Booka Shade', 336.45669)
(None, None, nan)
(None, None, nan)
(None, None, nan)
('Modern world', 'Modern Lovers', 180.27057)
('Invalid', 'Tub Ring', 233.69098)
('Everybody Everybody', 'Black Box', 247.03955)
('Ye Feng Ling', 'Cass Phang', 249.05098)
('Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)', 'Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner', 277.15873)
('Buttnaked', 'Adina Howard', 210.33751)
('No One Knows', 'Queens Of The Stone Age', 254.77179)
('Il Solo Rimasto', 'Mondo Marcio', 218.06975)
('Living In The U.S.A. (1991 Digital Remaster)', 'Steve Miller Band', 242.46812)
('Drop The World', 'Lil Wayne / Eminem', 229.58975)
('Stoke Up The Fire', '4hero feat. FACE', 304.71791)
('Whiskey Girl', 'Toby Keith', 238.44526)
('Muy_ Muy Temprano', 'Los Fabulosos Cadillacs', 353.93261)
('Under The Northern Star', 'Amon Amarth', 257.27955)
('Genom tunna tyger', 'Markus KrunegÃ\x83Â¥rd', 185.5473)
('Geh Deinen Weg', 'Michael B.', 197.3024)
("Don't Let The Rain Come Down (Crooked Little Man)", 'The Serendipity Singers', 163.21261)
('Strut (1993 Digital Remaster)', 'Sheena Easton', 239.62077)
('Falling Inside The Black (Album Version)', 'Skillet', 210.02404)
('Into The Cryptic Mist', 'The Bevis Frond', 265.32526)
('Greenback Dollar', 'Kingston Trio', 193.07057)
('Ten Cent Pistol', 'The Black Keys', 269.29587)
('Times Like These', 'Jack Johnson', 141.87057)
('House Of Broken Love', 'Great White', 357.14567)
('No Rain', 'Blind Melon', 217.15546)
('Fly Away From Here', 'Aerosmith', 301.76608)
('Solar Flare', '311', 191.79057)
('Kaaos ei karkaa', 'Haloo Helsinki!', 223.42485)
("Baker's Blue Jay Yarn", 'Dakota Oak', 45.63546)
('Shortie Like Mine', 'Bow Wow feat. Chris Brown and JohntÃ\x83Â¡ Austin', 268.06812)
('Hold On', 'Angus & Julia Stone', 265.29914)
('Adios', 'Rammstein', 228.46649)
('Shame', 'The Avett Brothers', 233.84771)
('Madrugada Na Praia Deserta', 'Jose Cid', 202.23955)
('Vanishing', 'A Perfect Circle', 291.52608)
("I CAN'T GET STARTED", 'Ron Carter', 497.13587)
('Do We Need This?', 'Muse', 255.08526)
('Howlin\x19 For You', 'The Black Keys', 191.76444)
('Bleed It Out (Album Version)', 'Linkin Park', 164.41424)
('Microdaze', 'Jonny L', 401.52771)
('Crosshairs', 'Dangerdoom', 146.85995)
('Breakdown', 'Jack Johnson', 212.68853000000001)
('The Pretender', 'Foo Fighters', 271.38567)
('Jumpers (Album)', 'Sleater-kinney', 264.4371)
('Pace Is The Trick', 'Interpol', 276.63628)
('Dance Me To The End Of Love', 'Leonard Cohen', 365.94893)
('Star Eyes', 'Art Pepper', 311.90159)
('Headstrong (Album Version)', 'Trapt', 285.98812)
('You Love Me Anyway (Album)', 'Sidewalk Prophets', 260.62322)
(None, None, nan)
(None, None, nan)
(None, None, nan)
('Not For You', 'Pearl Jam', 352.88771)
('El Juego Del Rap', 'Nach', 182.41261)
('U.S. Bombs', 'U.S. Bombs', 214.85669)
('Colpa Del Whisky (Andrea Paci Radio Edit)', 'Vasco Rossi', 233.53424)
('Streets Of Philadelphia', 'Bruce Springsteen', 195.7873)
("Hey Daddy (Daddy's Home)", 'Usher', 224.10404)
(None, None, nan)
('Grand Designs', 'Martin Orford', 597.55057)
('Columbus Avenue', 'Curtis Stigers', 259.49995)
('Mariposa traicionera', 'ManÃ\x83Â¡', 262.81751)
('Obsessed', 'Mariah Carey', 242.18077)
('Bubble Toes', 'Jack Johnson', 236.93016)
('Make Love To Your Mind', 'Bill Withers', 383.73832)

('Natural Anthem (Album)', 'Postal Service', 307.53914)
('Love On The Rocks', 'Sara Bareilles', 253.02159)
('Pass You By', 'Gillian Welch', 237.26975)
(None, None, nan)
('Gone', 'M83', 367.5424)
("Unless It's Kicks", 'Okkervil River', 278.54322)
('DNA', '1200 Mics', 483.39546)
(None, None, nan)
('Crazy Beautiful', 'Chasen', 166.16444)
('Sonrisa', 'Jonas Steur', 481.38404)
('Call Me', 'Franz Ferdinand', 204.14649)
('Kromozom Bankal (Linathaleyco Mix)', 'Recycler', 323.52608)
(None, None, nan)
('Pea (Album Version)', 'Red Hot Chili Peppers', 107.31057)
('Red Elephant', 'Sunny Day Real Estate', 198.97424)
(None, None, nan)
('Your Decision', 'Alice In Chains', 282.30485)
('Stripes', 'Bell Orchestre', 137.82159)
('Bleed It Out [Live At Milton Keynes]', 'Linkin Park', 494.99383)
("Ain't Misbehavin", 'Sam Cooke', 122.04363)
('Every Shining Time You Arrive (Album)', 'Sunny Day Real Estate', 253.43955)
("I'm Shady", 'Eminem', 212.00934)
('Call 9-1-1 (Explicit)', 'Westside Connection', 223.60771)
("Remember Me_ I'm The One Who Loves You", 'Kitty Wells & Roy Drusky', 140.64281)
("It Just Don't Stop", 'Big Shug', 140.56444)
('El Cuatrero', 'Miguel Calo', 171.17995)
('All Along The Watchtower', 'Jimi Hendrix', 241.24036)
('Kalidafun Parts 1&2', 'Mangataot', 356.62322)
('Rosemary', 'Scott Walker', 199.6273)
('Blue Collar Man (Long Nights)', 'Styx', 247.64036)
('Su veneno', 'Aventura', 240.43057)
('Hot N Cold (Manhattan Clique Remix Radio Edit)', 'Katy Perry', 233.53424)
('Bebot', 'Black Eyed Peas', 210.15465)
(None, None, nan)
('Lava Lava', 'Boys Noize', 256.60036)
(None, None, nan)
('Air & Lack Thereof', 'James Blake', 248.78975)
('My Mamma Said', 'Aqua', 217.57342)
('Piano Concerto No. 2 in G minor Op. 22 (2006 Digital Remaster): III.  Presto', 'Emil Gilels/Orchestre de la SociÃ\x83Â©tÃ\x83Â© des Concerts du Conservatoire/AndrÃ\x83Â© Cluytens', 375.19628)
('Where Is My Mind?', 'Pixies', 229.3024)
('Drunk Girls', 'LCD Soundsystem', 221.64853)
('Two Hearts', 'Phil Collins', 204.19873)
('Reptilia', 'The Strokes', 218.56608)
(None, None, nan)
('Clockwork Skinhead', '4 Skins', 165.51138)
('Scream For More', 'Kate Ryan', 239.96036)
("God's Plan", 'Hi-Tek', 153.67791)
('Kiss It Better', 'Deborah Harry', 257.41016)
('All Of The Champs That Ever Lived', 'Octopus Project', 250.95791)
('Something', 'Escape The Fate', 217.28608)
('Fireflies', 'Charttraxx Karaoke', 225.17506)
('English Summer Rain', 'Placebo', 241.52771)
('Man/Bag Of Sand', 'Frightened Rabbit', 146.46812)
("Don't Think I Don't Think About It", 'Darius Rucker', 181.81179)
('Everlong', 'Foo Fighters', 249.99138)
(None, None, nan)
(None, None, nan)
(None, None, nan)
('Transparency', 'White Denim', 148.55791)
('Jambalaya (On The Bayou)', 'The Meters', 167.00036)
("I CAN'T GET STARTED", 'Ron Carter', 497.13587)
('Te Amo', 'Rihanna', 208.40444)
('Kellum (Album Version)', 'Bayside', 156.29016)
('My All', 'Mariah', 432.19546)
('Change Is Hard', 'She & Him', 185.15546)
('Sugar (Jagz Kooner Mix)', 'Ladytron', 325.14567)
('Dumb Blood', 'Soft', 195.7873)
('Time Bomb', 'The Format', 241.10975)
('In The Closet', 'Michael Jackson', 390.5824)
("Don't Go", 'JLS', 172.53832)
('BedRock (Radio Edit) (feat.Lloyd)', 'Young Money featuring Lloyd', 196.33587)
('Rock With Me', 'Peter Tosh', 320.02567)
('Motor Panir', 'Nick Duffy', 235.49342)
('Right Through You (LP Version)', 'Alanis Morissette', 175.82975)
(None, None, nan)
('Supermassive Black Hole (Twilight Soundtrack Version)', 'Muse', 209.50159)
('Brackett_ WI', 'Bon Iver', 242.93832)
('Burn Them Prisons', 'Leftover Crack', 195.082)
('Mighty K.C.', 'For Squirrels', 337.162)
('Tu Me Asustas', 'Fobia', 290.40281)
('Barbwire', 'Indian Jewelry', 295.83628)
('Ante Up (Robbin Hoodz Theory)', 'M.O.P.', 232.6722)
('Crack A Bottle', 'Eminem / Dr. Dre / 50 Cent', 297.482)
('Estoy AquÃ\x83Â\xad', 'Shakira', 571.16689)
('Yeah!', "Usher Featuring Lil' Jon & Ludacris", 250.38322)
('Hanuman', 'Rodrigo y Gabriela', 223.16363)
('I Wanna Be Sedated (Remastered Album Version )', 'Ramones', 149.4722)
('Miserable At Best (Album)', 'Mayday Parade', 316.9171)
('Music Box', 'Eminem', 304.87465)
('Visions', 'Cut Copy', 71.49669)
('Calyx Virago', 'Xandria', 216.81587)
('Drop The Mirror (EP Version)', 'Missy Higgins', 274.80771)
('Shook Ones pt. 2', 'Mobb Deep', 181.15873)
('Pretendo Hablarte', 'Beatriz Luengo', 242.05016)
('Bring Me To Life', 'Evanescence', 237.11302)
('Clear Blue Water', 'OceanLab', 440.842)
("You're The One", 'Dwight Yoakam', 239.3073)
('Lord Xenu', 'The Devil Wears Prada', 205.66159)
('Take Me To The River', 'Eva Cassidy', 248.86812)
('Flat Beat', 'Mr. Oizo', 325.22404)
('Never Too Far', 'Mariah Carey', 261.642)
("Day 'N' Nite", 'Kid Cudi Vs Crookers', 162.97751)
('El Hombre', 'Pat Martino', 355.94404)
('Geek In The Pink [Phil Tan Remix]', 'Jason Mraz', 218.40934)
("You're The One", 'Dwight Yoakam', 239.3073)
('I Second That Emotion', 'Smokey Robinson & The Miracles', 168.9073)

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [ ]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.